@import "tailwindcss";

@layer components {
  h2 {
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.25rem 0;
    margin-left: 1.25rem;
  }
  h3 {
    margin-left: 1.25rem;
  }
}


